<div class="face">
  <%= image_tag("jojo.png", :alt => "Joseph Dulac") %>
  <div class="description">
    <h1>Hello!</h1>
    <h2>Welcome to my website</h2>
    <p>After gratuating as a design engineer, I decided I wanted to learn how
      how to code! I took a one way ticket to Paris to take part in the remarkable Le Wagon
      Web Development. And now here I am with my own website so you guys can take a look at my work.
      </p>
  </div>
</div>

